doctype 5
html(lang="en")
  head
    title How to be an effective leader
    link(href='/css/homepage.css', rel='stylesheet')
    body
      #headerElem
        h1 Leadership requires multiple components
        hr
